/* Base styles */
body {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #D6934D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo img {
  font-size: 3.5rem;
  width: 93px;
  margin-left: 34px;
}

.nav-links {
  list-style-type: none;
  display: flex;
  margin-right: 103px;
}

.nav-links li {
  margin-left: 72px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* Burger menu styling */
.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.burger-menu span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: black;
}
.first-title {
  font-size: 5rem;
  margin-bottom: 88px;
  margin-top: 71px;
  margin-left: 346px;
}

.testimonial-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 49px;
  justify-content: center;
}

.card {
  display: flex;
  align-items: center;
  width: 572px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 24px;
  overflow: hidden;
  height: 279px;
}

.card-image {
  border-radius: 20%;
  width: 114px;
  height: 84px;
  object-fit: cover;
  margin-left: 49px;
}

.card-content {
  padding-left: 5px;
  flex: 1;
}

.card-name {
  font-size: 2.4em;
  color: #7b4b2a;
  margin-left: 199px;
  margin-top: -100px;
}

.card-title {
  font-size: 0.9em;
  color: #888;
  font-weight: 600;
  margin: 5px 0;
  margin-left: 201px;
}

.card-description {
  font-size: 17px;
  color: #555;
  line-height: 1.4;
}

.card-rating {
  margin-top: 10px;
  margin-left: 446px;
}

.star {
  color: #564fff;
  font-size: 20px;
  margin-right: 2px;
}
.contact-section {
  background-color: #ECDDD2;
  padding: 40px;
  text-align: center;
  margin: 40px auto;
  width: 78%;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.contact-section h2 {
  font-size: 4rem;
  margin-bottom: 20px;
  color: #93785B; 
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 119px;
}

.form-group input[type="text"] { 
  padding: 13px;
  border: 3px solid #8A624A;
  border-radius: 12px;
  width: 300px;
  background-color: #ECDDD2;
  margin-bottom: 34px;
}

.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form input[type="password"] {
  padding: 13px;
  border: 3px solid #8A624A;
  border-radius: 12px;
  width: 63%;
  background-color: #ECDDD2;
  margin-bottom: 34px;
}

.contact-form button {
  background-color: #93785B;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 66px;
  cursor: pointer;
  font-size: 20px;
  width: 252px;
}

 .banner {
  background-color: #8B6745; 
  color: #000000; 
  text-align: center;
  padding: 20px 0;
  margin-bottom: 64px;
  height: 60px;
}

.banner h1 {
  margin: 0;
  font-size: 3em;
  font-weight: bold;
}

.carousel-container {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: calc(100% * 5); 
  margin-bottom: 142px;
}

.carousel-slide img {
  width: calc(100vw / 3);
  margin: 0 26px 0;
  border-radius: 10px;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 2em;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

