<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/querry.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  </head>
  <body>
    <section  data-aos="fade-up" class="filter" > 
      <div class="filtertitle2"><h1 class="filtertitle">Filter</h1> </div>
      <div class="cataloguefilterbar">
      <div>
        <select class="localisationfilter" name="" id="">
          <option class="cataloguefilteroptions" value="">Localisation</option>
        </select>
      </div>
      <div>
        <select class="localisationfilter" name="" id="">
          <option class="cataloguefilteroptions" value="">Prix</option>
        </select>
      </div>
      <div>
        <select class="localisationfilter" name="" id="">
          <option  class="cataloguefilteroptions"  value="">Type de bien</option>
        </select>
      </div>
    </div>
    </section>
    <section class="catalogue">
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

      <div class="catalogueitems" data-aos="fade-up">
        <img src="/assets/catalogue images/catalogue image 1.png" alt="" />
        <h1 class="catalogueitemstitle">Garden Oasis</h1>
        <h5 class="catalogueitemssemititle">Type: Maison de campagne</h5>
        <p class="catalogueitemspharagraph">
          Une maison accueillante de 3 chambres avec un charmant jardin de
          taille moyenne, idéale pour la détente et les loisirs. Les intérieurs
          chaleureux et la salle à manger extérieure créent une atmosphère
          conviviale pour les réunions de famille.
        </p>
        <div class="catalogueitemsbuttons">
          <button class="catalogueitemsbutton">40000$</button>
          <a href=""> <button class="catalogueitemsbutton">details</button></a>
        </div>
      </div>
      <div class="catalogueitems" data-aos="fade-up">
        <img src="/assets/catalogue images/catalogue image 2.png" alt="" />
        <h1 class="catalogueitemstitle">Coastal Paradise</h1>
        <h5 class="catalogueitemssemititle">Type: Location de vacances</h5>
        <p class="catalogueitemspharagraph">
          Une superbe maison de 4 chambres avec piscine privée, parfaite pour
          les réunions de famille. Située à quelques minutes de la plage, elle
          offre des espaces de vie spacieux et des coins détente extérieurs pour
          des vacances relaxantes.
        </p>
        <div class="catalogueitemsbuttons">
          <button class="catalogueitemsbutton">90000$</button>
          <a href=""> <button class="catalogueitemsbutton">details</button></a>
        </div>
      </div>
      <div class="catalogueitems" data-aos="fade-up">
        <img src="/assets/catalogue images/catalogue image 3.png" alt="" />
        <h1 class="catalogueitemstitle">Tropical Escape</h1>
        <h5 class="catalogueitemssemititle">Type: Location de vacances</h5>
        <p class="catalogueitemspharagraph">
          Une charmante maison de 3 chambres avec une magnifique piscine et un
          aménagement paysager luxuriant. L’espace de vie ouvert se prolonge
          harmonieusement vers l'extérieur, parfait pour des journées
          ensoleillées et des barbecues en soirée.
        </p>
        <div class="catalogueitemsbuttons">
          <button class="catalogueitemsbutton">80000$</button>
          <a href=""> <button class="catalogueitemsbutton">details</button></a>
        </div>
      </div>
      <div class="catalogueitems" data-aos="fade-up">
        <img src="/assets/catalogue images/catalogue image 4.png" alt="" />
        <h1 class="catalogueitemstitle">Luxury Retreat</h1>
        <h5 class="catalogueitemssemititle">Type: Location de vacances</h5>
        <p class="catalogueitemspharagraph">
          Cette propriété luxueuse de 5 chambres offre une escapade sereine avec
          sa superbe piscine et ses vastes espaces extérieurs. Avec des
          équipements haut de gamme et une proximité avec les attractions
          locales.
        </p>
        <div class="catalogueitemsbuttons">
          <button class="catalogueitemsbutton">70000$</button>
          <a href=""> <button class="catalogueitemsbutton">details</button></a>
        </div>
      </div>
      <div class="catalogueitems" data-aos="fade-up">
        <img src="/assets/catalogue images/catalogue image 5.png" alt="" />
        <h1 class="catalogueitemstitle">Modern Urban</h1>
        <h5 class="catalogueitemssemititle">Type: Maison de campagne</h5>
        <p class="catalogueitemspharagraph">
          Une maison de campagne moderne et élégante de 3 chambres avec un
          agencement ouvert et des équipements modernes. Entourée par la nature,
          elle offre un refuge paisible tout en restant proche des attractions
          locales.
        </p>
        <div class="catalogueitemsbuttons">
          <button class="catalogueitemsbutton">40000$</button>
          <a href=""> <button class="catalogueitemsbutton">details</button></a>
        </div>
      </div>
      <div class="catalogueitems" data-aos="fade-up">
        <img src="/assets/catalogue images/catalogue image 6.png" alt="" />
        <h1 class="catalogueitemstitle">Garden Haven</h1>
        <h5 class="catalogueitemssemititle">Type: Maison de campagne</h5>
        <p class="catalogueitemspharagraph">
          Une maison spacieuse de 4 chambres avec un magnifique jardin paysager,
          offrant un refuge paisible pour les familles. Les intérieurs bien
          conçus et les espaces extérieurs conviviaux sont parfaits pour
          profiter de la nature et recevoir des invités.
        </p>
        <div class="catalogueitemsbuttons">
          <button class="catalogueitemsbutton">120000$</button>
          <a href=""> <button class="catalogueitemsbutton">details</button></a>
        </div>
      </div>
      <div class="catalogueitems" data-aos="fade-up">
        <img src="/assets/catalogue images/catalogue image 7.png" alt="" />
        <h1 class="catalogueitemstitle">Modern Elegance</h1>
        <h5 class="catalogueitemssemititle">Type: Maison moderne</h5>
        <p class="catalogueitemspharagraph">
          Une magnifique maison de campagne moderne de 3 chambres, avec des
          caractéristiques de design élégantes, un grand espace de vie ouvert et
          un vaste jardin, idéale pour profiter de la vie à la campagne avec
          tout le confort nécessaire.
        </p>
        <div class="catalogueitemsbuttons">
          <button class="catalogueitemsbutton">40000$</button>
          <a href=""> <button class="catalogueitemsbutton">details</button></a>
        </div>
      </div>
      <div class="catalogueitems" data-aos="fade-up">
        <img src="/assets/catalogue images/catalogue image 8.png" alt="" />
        <h1 class="catalogueitemstitle">Charming Cottage</h1>
        <h5 class="catalogueitemssemititle">Type: Maison de campagne</h5>
        <p class="catalogueitemspharagraph">
          Ce ravissant cottage de 2 chambres dispose d’un jardin pittoresque et
          d’un design charmant. Avec une cheminée accueillante et un coin salon
          extérieur, c'est l’endroit idéal pour une escapade romantique ou un
          repos paisible loin de la ville.
        </p>
        <div class="catalogueitemsbuttons">
          <button class="catalogueitemsbutton">40000$</button>
          <a href=""> <button class="catalogueitemsbutton">details</button></a>
        </div>
      </div>
      <div class="catalogueitems" data-aos="fade-up">
        <img src="/assets/catalogue images/catalogue image 9.png" alt="" />
        <h1 class="catalogueitemstitle">Urban Chic</h1>
        <h5 class="catalogueitemssemititle">Type: Maison moderne</h5>
        <p class="catalogueitemspharagraph">
          Une maison accueillante de 3 chambres avec un charmant jardin de
          taille moyenne, idéale pour la détente et les loisirs. Les intérieurs
          chaleureux et la salle à manger extérieure créent une atmosphère
          conviviale pour les réunions de famille.
        </p>
        <div class="catalogueitemsbuttons">
          <button class="catalogueitemsbutton">40000$</button>
          <a href=""> <button class="catalogueitemsbutton">details</button></a>
        </div>
      </div>
    </section>

    <!-- footer by abderrahmane ahouari -->

    <footer>
      <img
        class="footerlogo"
        src="/assets/catalogue images/logo.footer.png"
        alt=""
      />
      <div class="footeritems">
        <div class="footerlinks">
          <h1 class="footertitles">Propriétés</h1>
          <a class="footerlink" href="">Catalogue</a>
          <a class="footerlink" href="">Détails du Bien</a>
          <a class="footerlink" href="">Témoignages</a>
          <a class="footerlink" href="">Accueil</a>
        </div>
        <div class="footertextitems">
          <h1 class="footertitles">À propos de nous</h1>
          <p class="footerpharafraphs">
            Nous sommes une agence spécialisée dans la vente et la location de
            biens immobiliers, offrant une sélection diversifiée de propriétés
            allant des maisons de vacances aux résidences modernes et
            contemporaines. Notre mission est de fournir à nos clients une
            expérience fluide et personnalisée, en les accompagnant tout au long
            du processus d'achat ou de location pour s'assurer qu'ils trouvent
            la propriété qui correspond à leurs besoins et à leurs rêves.
          </p>
        </div>
        <div class="footertextitems">
          <h1 class="footertitles">Copyright</h1>
          <p class="footerpharafraphs">
            © 2024 NomDeVotreEntreprise. Tous droits réservés.Le contenu de ce
            site est protégé par les lois sur la propriété intellectuelle.Toute
            reproduction, même partielle, est strictement interdite sans
            autorisation.L’utilisation de ce site implique l’acceptation de nos
            conditions générales d’utilisation.
          </p>
        </div>
      </div>
      <div class="resaufooter">
        <div>
          <a href="https://x.com/elonmusk/status/1836519906977943726"
            ><img src="/assets/catalogue images/tweeter.png" alt=""
          /></a>
        </div>
        <div>
          <a href="https://www.facebook.com/groups/2616981278627207/"
            ><img src="/assets/catalogue images/Facebook.png" alt=""
          /></a>
        </div>
        <div>
          <a href="https://www.instagram.com/coding_comedy/"
            ><img src="/assets/catalogue images/instagram.png" alt=""
          /></a>
        </div>
        <div>
          <a
            href="https://fr.linkedin.com/advice/1/youre-struggling-erp-inventory-integration-8mvfc?lang=fr"
            ><img src="/assets/catalogue images/Linkedin.png" alt=""
          /></a>
        </div>
      </div>
    </footer>
    <!-- footer by abderrahmane ahouari -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
