<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dédtail de bien</title>
    <link rel="stylesheet" href= "/css/global.css">
    
</head>
<body>
    <!-- section de bar -->
    <header class="navbar">
        <nav class="dl-header-color"></nav>
        <div class="dl-header-liste">
            <ul>
                <li><a href="#home">Accueil</a></li>
                <li><a href="#Catalogue">Catalogue</a></li>
                <li><a href="#Détails du Bien">  Détails du Bien </a></li>
                <li><a href="#Témoignages">Témoignages</a></li>
            </ul>
        </div>
        <img src="/assets/img/pexels-alex-staudinger-829197-1732414.jpg" class="dl-header-img">
        <img src="/assets/img/logo.png" class="dl-logo-img" >
        <h1 class="dl-header-title">ImmoView</h1>
    </header>
    <!-- fin section de bar -->

     <!-- section de main -->
      <main>
            <div class="dl-top-coun">
                <h1 class="dl-main-title">Coastal Paradise</h1>
                <h2 class="dl-main-prix">400000 DH</h2>
          </div>
          <div class="dl-main-coun-centent">
                <div class="dl-main-pt-img">
                        <img src="/assets/img/384765898.jpg" alt="">
                        <img src="/assets/img/340110946.jpg" alt="">
                        <img src="/assets/img/347191703.jpg" alt="">
                </div>
             <div class="dl-main-gr-img">
                <span class="flech-d"><img src="/assets/img/flech-g.png" id="silder"></span>
                <img src="/assets/img/Beach_House_.jpg" class="dl-main-big-img" >
                <span class="flech-d"><img src="/assets/img/flech-d.png" id="silder"></span>
              </div>
             <div class="dl-main-desc">
                <p class="dl-main-desc-title">Description : </p>
                <p lass="dl-main-desc-conte">Une superbe maison de 4 chambres avec piscine privée, parfaite pour les réunions de famille.
                     Située à quelques minutes de la plage, elle offre des espaces de vie spacieux et des coins 
                     détente extérieurs pour des vacances relaxantes.</p>
            </div>
            <div class="house-icones">
                <span id="house-icone"><img src="/assets/img/salle de bain1.png"></span>
                <span id="house-icone"><img src="/assets/img/Chambre à coucher.png"></span>
                <span id="house-icone"><img src="/assets/img/cuisine.png"></span>
                <span id="house-icone"><img src="/assets/img/salle de bain.png"></span>
            </div>
            <div class="house-numbers">
                <span id="house-numbre3">3</span>
                <span id="house-numbre4">4</span>
                <span id="house-numbre1">1</span>
                <span id="house-numbre2">2</span>
            </div>
            <div class="dl-button-buy">
                <button type="submit">Buy</button>
            </div>
            <div class="dl-pay-by">
            </div>
            <div class="dl-pay-text">
                <p>Pay By</p>
            </div>
      </main>
    <!-- fin de main -->
</body>
</html>