<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dédtail de bien</title>
    <link rel="stylesheet" href= "/css/global.css">
    
</head>
<body>
    <!-- section de bar -->
    <header class="navbar">
        <nav class="dl-header-color"></nav>
        <div class="dl-header-liste">
            <ul>
                <li><a href="#home">Accueil</a></li>
                <li><a href="#Catalogue">Catalogue</a></li>
                <li><a href="#Détails du Bien">  Détails du Bien </a></li>
                <li><a href="#Témoignages">Témoignages</a></li>
            </ul>
        </div>
        <img src="/assets/img/pexels-alex-staudinger-829197-1732414.jpg" class="dl-header-img">
        <img src="/assets/img/logo.png" class="dl-logo-img" >
        <h1 class="dl-header-title">ImmoView</h1>
    </header>
    <!-- fin section de bar -->

     <!-- section de main -->
      <div class="dl-top-coun">
        <h1 class="dl-main-title">Coastal Paradise</h1>
        <h2 class="dl-main-prix">400000 DH</h2>
      </div>
      <div class="dl-main-coun-centent">
        <div class="dl-main-pt-img">
            <img src="/assets/img/384765898.jpg" alt="">
            <img src="/assets/img/340110946.jpg" alt="">
            <img src="/assets/img/347191703.jpg" alt="">
        </div>
        <div class="dl-main-gr-img">
            <img src="/assets/img/Beach_House_.jpg" class="dl-main-big-img" >
            <button>&#10094</button>
        </div>
        <div class="dl-main-desc">kflfj</div>
      </div>
    <!-- fin de main -->
</body>
</html>