<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/global.css">
    
</head>
<body > 
        <header class="navbar">
            <div class="logo">
                <img src="/assets/img-home/1.png">
            </div>
            <nav>
                <ul class="nav-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Catalogue</a></li>
                    <li><a href="#">Détails du Bien</a></li>
                    <li><a href="#">Témoignages</a></li>
                </ul>
            </nav>
        </header>
        <section class="hm-section11">
            <div class="hm-sec11">
                <button>
                 <img src="/assets/img-home/flech-g.png" alt="">
                </button>
                <button>
                <img src="/assets/img-home/flech-d.png" alt="">
                  </button>
              </div>
              <div class="hm-sec12">
                <img src="/assets/img-home/2.jpg" alt="">
                <!-- <img src="/assets/img-home/3.jpg" alt="">
                <img src="/assets/img-home/4.jpg" alt="">
                <img src="/assets/img-home/5.jpg" alt=""> -->
              </div>
        </section>
        <section class="hm-section22">
           
              <div class="hm-sec21">
                <img src="/assets/img-home/8 (1).jpg" alt="">
            </div>
            <div class="hm-sec22"> </div>

             <div class="hm-sec23">
              
                <p>Ne cherchez plus! Nous avons rassemblé pour vous les meilleures options de propriétés disponibles pour l’achat.
                     Vous pourrez découvrir une sélection variée 
                    d’appartements de qualité, qui correspondent à différents budgets et goûts.</p>
                    <button>click ici</button>
              </div>

        </section>
        <section  class="hm-section3">
           <div class="hm-sec30">
            <div class="hm-sec31">
                <h1>FAQ</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At incidunt odit sit ea sint inventore et maiores nesciunt optio hic,
                     maxime vel architecto dolorum laborum accusamus dignissimos aut doloribus recusandae!</p>
            </div>
            <div class="hm-sec32">
                <img src="/assets/faq.png" alt="">
            </div>
        </div>

        </section>
       <section class="hm-section4">

       </section>
       <section class="hm-section5">
       
            <div class="hm-sec50">
                <h2>Our Serveices</h2>
                <div class="hm-sec50">
                    <div class="hm-sec51" >
                        <div class="hm-sec52">
                             <div class="hm-sec53">
                                   <img src="/assets/img-home/services.png" alt="">
                                   <img src="/assets/img-home/services.png" alt="">
                                   <span><img src="/assets/img-home/services.png" alt=""></span>
                             </div>
                         
                           <h3>Advisory Services</h3>
                          </div>
                          <p>Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise ex
                         </p>
                             <button>Learn More</button>
            </div> </div>

       </section>
  

       
      
           


        </section>
   

       
 
        
  






    <script src="/js/Home.js"></script>
</body>
</html>