<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/querry.css">
    <link rel="stylesheet" href="/path/to/flickity.css" media="screen">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>


</head>

<body>
    <header class="navbar">
        <div class="logo">
            <img src="/assets/img-home/img0.png" alt="Logo">
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="/views/)catalogue.html">Catalogue</a></li>
                <li><a href="/views/detail.html">Détails du Bien</a></li>
                <li><a href="#">Témoignages</a></li>
            </ul>
        </nav>
        <div class="burger-menu" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>
    <section class="hm-section11">
        <div class="hm-sec11">
            <div class="hm-sec12 ">
             <img  src="/assets/img-home/img4.jpg" alt="" class="active">
             <img  src="/assets/img-home/img5.jpg" alt="">
             <img  src="/assets/img-home/img6.jpg" alt="">
             <img  src="/assets/img-home/img7.jpg" alt="">
            </div>
            <div class="hm-button">
            <button class="hm-prev" onclick="changeImage(-1)">&#10094; </button>
            <button class="hm-next" onclick="changeImage(1)">&#10095;</button>
        </div>
        </div>
    </section>

    <section class="hm-section22">

        <div class="hm-sec21">
            <img src="/assets/img-home/img7.jpg" alt="">
        </div>
        <div class="hm-sec22"> </div>

        <div class="hm-sec23">

            <p>Ne cherchez plus! Nous avons rassemblé pour vous les meilleures options de propriétés disponibles pour
                l’achat.
                Vous pourrez découvrir une sélection variée
                d’appartements de qualité, qui correspondent à différents budgets et goûts.</p>
            <button>click ici</button>
        </div>

    </section>
    <section class="hm-section3">
        <div class="hm-sec30">
            <div class="hm-sec31">
                <h1>FAQ</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At incidunt odit sit ea sint inventore et
                    maiores nesciunt optio hic,
                    maxime vel architecto dolorum laborum accusamus dignissimos aut doloribus recusandae!</p>
            </div>
            <div class="hm-sec32">
                <img src="/assets/img-home/faq.png" alt="">
            </div>
        </div>

    </section>
    <section class="hm-section4">
        <div class="hm-sec40">
            <div class="hm-sec41">
                <p >Do you provide support?</p>
                <button class="hm-sec-btn">
                    <img src="/assets/img-home/flech-down.png" alt="" style="width: 15px; height: 15px;">
                </button>
            </div>
            <div class="hm-sec42">
                
                <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, corporis ab quisquam dolores blanditiis neque nihil
                labore molestiae ut facilis minus maxime accusamus quod autem dolore natus in necessitatibus. Corrupti.
                m ipsum dolor sit amet consectetur adipisicing elit. Nesciunt placeat libero velit sapiente a beatae nulla earum illo assumenda magni.
                ciunt, sapiente! Dolor et labore vitae recusandae repellendus voluptate doloremque.</p>
                   
            </div>
            
        </div>
        <div class="hm-sec40">
            <div class="hm-sec41">
                <p >What types of files I will get?</p>
                <button class="hm-sec-btn">
                    <img src="/assets/img-home/flech-down.png" alt="" style="width: 15px; height: 15px;">
                </button>
            </div>
            <div class="hm-sec42">
                
                <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, corporis ab quisquam dolores blanditiis neque nihil
                labore molestiae ut facilis minus maxime accusamus quod autem dolore natus in necessitatibus. Corrupti.
                m ipsum dolor sit amet consectetur adipisicing elit. Nesciunt placeat libero velit sapiente a beatae nulla earum illo assumenda magni.
                ciunt, sapiente! Dolor et labore vitae recusandae repellendus voluptate doloremque.</p>
                   
            </div>
            
        </div>
        <div class="hm-sec40">
            <div class="hm-sec41">
                <p >How to get future updates?</p>
                <button class="hm-sec-btn">
                    <img src="/assets/img-home/flech-down.png" alt="" style="width: 15px; height: 15px;">
                </button>
            </div>
            <div class="hm-sec42">
                
                <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, corporis ab quisquam dolores blanditiis neque nihil
                labore molestiae ut facilis minus maxime accusamus quod autem dolore natus in necessitatibus. Corrupti.
                m ipsum dolor sit amet consectetur adipisicing elit. Nesciunt placeat libero velit sapiente a beatae nulla earum illo assumenda magni.
                ciunt, sapiente! Dolor et labore vitae recusandae repellendus voluptate doloremque.</p>
                   
            </div>
            
        </div>
        
    </section>
    <section class="hm-section5">

        <div class="hm-sec50">
            <h2>Our Serveices</h2>
            <div class="hm-sec500">
                <div class="hm-sec51">
                    <div class="hm-sec52">
                        <div class="hm-sec53">
                            <img src="/assets/img-home/services.png" alt="">
                        </div>
                        <h3>Advisory Services</h3>
                    </div>
                    <p>Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre
                        provisoire pour calibrer une mise 
                    </p>
                    <button>Learn More</button>
                </div>
                <!-- $$$$$ -->
                <div class="hm-sec51 hm-data">
                    <div class="hm-sec52">
                        <div class="hm-sec53">
                            <img src="/assets/img-home/data.png" alt="">
                        </div>
                        <h3>Data Analytics</h3>
                    </div>
                    <p>Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre
                        provisoire pour calibrer une mise 
                    </p>
                    <button>Learn More</button>
                </div>
                <!-- $$$$$ -->
                <div class="hm-sec51">
                    <div class="hm-sec52">
                        <div class="hm-sec53">
                            <img src="/assets/img-home/software.png" alt="">
                        </div>
                        <h3>Software Development</h3>
                    </div>
                    <p>Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre
                        provisoire pour calibrer une mise 
                    </p>
                    <button>Learn More</button>
                </div>
            </div>
            <!-- **** -->
           

         </div>
          
               

    </section>







    </section>











      <!-- foteer by abdrahman ahouari -->


    <script src="/js/Home.js"></script>
</body>

<footer>
    <img
      class="footerlogo"
      src="/assets/catalogue images/logo.footer.png"
      alt=""
    />
    <div class="footeritems">
      <div class="footerlinks">
        <h1 class="footertitles">Propriétés</h1>
        <a class="footerlink" href="catalogue.html">Catalogue</a>
        <a class="footerlink" href="detail.html">Détails du Bien</a>
        <a class="footerlink" href="">Témoignages</a>
        <a class="footerlink" href="">Accueil</a>
      </div>
      <div class="footertextitems">
        <h1 class="footertitles">À propos de nous</h1>
        <p class="footerpharafraphs">
          Nous sommes une agence spécialisée dans la vente et la location de
          biens immobiliers, offrant une sélection diversifiée de propriétés
          allant des maisons de vacances aux résidences modernes et
          contemporaines. Notre mission est de fournir à nos clients une
          expérience fluide et personnalisée, en les accompagnant tout au long
          du processus d'achat ou de location pour s'assurer qu'ils trouvent
          la propriété qui correspond à leurs besoins et à leurs rêves.
        </p>
      </div>
      <div class="footertextitems">
        <h1 class="footertitles">Copyright</h1>
        <p class="footerpharafraphs">
© 2024 NomDeVotreEntreprise. Tous droits réservés.Le contenu de ce
          site est protégé par les lois sur la propriété intellectuelle.Toute
          reproduction, même partielle, est strictement interdite sans
          autorisation.L’utilisation de ce site implique l’acceptation de nos
          conditions générales d’utilisation.
        </p>
      </div>
    </div>
    <div class="resaufooter">
      <div>
        <a href="https://x.com/elonmusk/status/1836519906977943726"
          ><img src="/assets/catalogue images/tweeter.png" alt=""
        /></a>
      </div>
      <div>
        <a href="https://www.facebook.com/groups/2616981278627207/"
          ><img src="/assets/catalogue images/Facebook.png" alt=""
        /></a>
      </div>
      <div>
        <a href="https://www.instagram.com/coding_comedy/"
          ><img src="/assets/catalogue images/instagram.png" alt=""
        /></a>
      </div>
      <div>
        <a
          href="https://fr.linkedin.com/advice/1/youre-struggling-erp-inventory-integration-8mvfc?lang=fr"
          ><img src="/assets/catalogue images/Linkedin.png" alt=""
        /></a>
      </div>
    </div>
  </footer>


</html>