<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/global.css">
    
</head>
<body class="hm-body"> 
        <header class="navbar">
            <div class="logo">
                <img src="/assets/img-home/1.png">
            </div>
            <nav>
                <ul class="nav-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Catalogue</a></li>
                    <li><a href="#">Détails du Bien</a></li>
                    <li><a href="#">Témoignages</a></li>
                </ul>
            </nav>
        </header>
  

       
  

    
</body>
</html>