<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Témoignages - C&T Properties LLC</title>
    <link rel="stylesheet" href="/css/global.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/querry.css">
</head>
<body style="background-color:#E8E8E8 ;">

    <header class="navbar">
        <div class="logo">
            <img src="/assets/imgs/logo.png">
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Catalogue</a></li>
                <li><a href="#">Détails du Bien</a></li>
                <li><a href="#">Témoignages</a></li>
            </ul>
        </nav>
    </header>
    <h1 class="first-title">Ce Que Nos Clients Disent</h1>
      <section class="testimonial-container">
      <div class="card">
        <div class="card-content">
          <img src="/assets/imgs/profile1.jpg" alt="Person Image" class="card-image">
          <h2 class="card-name">Jane Cooper</h2>
          <p class="card-title">Medical Assistant</p>
          <p class="card-description">
            Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès qu'il est prêt ou que la mise en page est achevée.
          </p>
          <div class="card-rating">
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
          </div>
        </div>
      </div>
      <div class="card">
        
        <div class="card-content">
          <img src="/assets/imgs/profile2.jpg" alt="Person Image" class="card-image">
          <h2 class="card-name">Jane Cooper</h2>
          <p class="card-title">Medical Assistant</p>
          <p class="card-description">
            Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès qu'il est prêt ou que la mise en page est achevée.
          </p>
          <div class="card-rating">
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
          </div>
        </div>
      </div>
      <div class="card">
   
        <div class="card-content">
          <img src="/assets/imgs/profile3.jpg" alt="Person Image" class="card-image">
          <h2 class="card-name">Jane Cooper</h2>
          <p class="card-title">Medical Assistant</p>
          <p class="card-description">
            Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès qu'il est prêt ou que la mise en page est achevée.
          </p>
          <div class="card-rating">
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <img src="/assets/imgs/profile4.jpg" alt="Person Image" class="card-image">
          <h2 class="card-name">Jane Cooper</h2>
          <p class="card-title">Medical Assistant</p>
          <p class="card-description">
            Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès qu'il est prêt ou que la mise en page est achevée.
          </p>
          <div class="card-rating">
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
        <img src="/assets/imgs/profile5.png" alt="Person Image" class="card-image">
          <h2 class="card-name">Jane Cooper</h2>
          <p class="card-title">Medical Assistant</p>
          <p class="card-description">
            Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès qu'il est prêt ou que la mise en page est achevée.
          </p>
          <div class="card-rating">
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
        <img src="/assets/imgs/profile6.jpg" alt="Person Image" class="card-image">
          <h2 class="card-name">Jane Cooper</h2>
          <p class="card-title">Medical Assistant</p>
          <p class="card-description">
            Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès qu'il est prêt ou que la mise en page est achevée.
          </p>
          <div class="card-rating">
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
          </div>
        </div>
      </div>
      </section>
      <!-- contact section -->
        <section class="contact-section">
          <h2>contactez-nous</h2>
          <form class="contact-form">
              <div class="form-group">
                  <input type="text" name="first-name" placeholder="First name" required>
                  <input type="text" name="last-name" placeholder="Last name" required>
              </div>
              <input type="email" name="email" placeholder="E-mail" required>
              <input type="tel" name="phone" placeholder="Phone" required>
              <input type="password" name="password" placeholder="Password" required>
              <input type="password" name="confirm-password" placeholder="Confirm Password" required>
              <button type="submit">Register</button>
          </form>
      </section>
      <div class="banner">
        <h1>Votre Confiance en Images :</h1>
    </div>
    <!-- slider section -->
    <div class="carousel-container">
      <div class="carousel-slide">
          <img src="/assets/imgs/pic1.jpg" alt="Image 1">
          <img src="/assets/imgs/pic2.jpg" alt="Image 2">
          <img src="/assets/imgs/pic3.png" alt="Image 3">
          <img src="/assets/imgs/pic4.jpeg" alt="Image 4">
          <img src="/assets/imgs/pic5.jpg" alt="Image 5">
      </div>
      <button id="prevBtn" class="carousel-btn prev-btn">&#10094;</button>
      <button id="nextBtn" class="carousel-btn next-btn">&#10095;</button>
  </div>
  <!-- Footer Section -->
<!-- footer by abderrahmane ahouari -->

<footer>
  <img
    class="footerlogo"
    src="/assets/catalogue images/logo.footer.png"
    alt=""
  />
  <div class="footeritems">
    <div class="footerlinks">
      <h1 class="footertitles">Propriétés</h1>
      <a class="footerlink" href="">Catalogue</a>
      <a class="footerlink" href="">Détails du Bien</a>
      <a class="footerlink" href="">Témoignages</a>
      <a class="footerlink" href="">Accueil</a>
    </div>
    <div class="footertextitems">
      <h1 class="footertitles">À propos de nous</h1>
      <p class="footerpharafraphs">
        Nous sommes une agence spécialisée dans la vente et la location de
        biens immobiliers, offrant une sélection diversifiée de propriétés
        allant des maisons de vacances aux résidences modernes et
        contemporaines. Notre mission est de fournir à nos clients une
        expérience fluide et personnalisée, en les accompagnant tout au long
        du processus d'achat ou de location pour s'assurer qu'ils trouvent
        la propriété qui correspond à leurs besoins et à leurs rêves.
      </p>
    </div>
    <div class="footertextitems">
      <h1 class="footertitles">Copyright</h1>
      <p class="footerpharafraphs">
© 2024 NomDeVotreEntreprise. Tous droits réservés.Le contenu de ce
        site est protégé par les lois sur la propriété intellectuelle.Toute
        reproduction, même partielle, est strictement interdite sans
        autorisation.L’utilisation de ce site implique l’acceptation de nos
        conditions générales d’utilisation.
      </p>
    </div>
  </div>
  <div class="resaufooter">
    <div>
      <a href="https://x.com/elonmusk/status/1836519906977943726"
        ><img src="/assets/catalogue images/tweeter.png" alt=""
      /></a>
    </div>
    <div>
      <a href="https://www.facebook.com/groups/2616981278627207/"
        ><img src="/assets/catalogue images/Facebook.png" alt=""
      /></a>
    </div>
    <div>
      <a href="https://www.instagram.com/coding_comedy/"
        ><img src="/assets/catalogue images/instagram.png" alt=""
      /></a>
    </div>
    <div>
      <a
        href="https://fr.linkedin.com/advice/1/youre-struggling-erp-inventory-integration-8mvfc?lang=fr"
        ><img src="/assets/catalogue images/Linkedin.png" alt=""
      /></a>
    </div>
  </div>
</footer>
    <!-- footer by abderrahmane ahouari -->

    <script src="/js/script.js"></script>
      
</body>
</html>
